img {
  height: 500px;
  border-radius: 30px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbeddc;
  color: #000000;
  line-height: 1.6;
  font-display: center;
}

.container {
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.part-container {
  margin-left: 500px;
  display: list;
  justify-content: center;
  gap: 70px;
}

.part {
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 50px;
  gap: 8px;

  border: 1px solid #000000;
  border-radius: 8px;

  width: 500px;
  box-shadow: 0px 4px #abbed133;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 30px;
  color: #000000;
}

p {
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
}

a {
  color: #464646;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5em;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

section ul {
  list-style: square inside;
  margin: 10px 0 0 20px;
  padding: 0;
}

section ul li {
  margin: 5px 0;

  align-items: center;
}

.languages p {
  display: center;
  justify-content: space-between;
}
