img {
  height: 500px;
  border-radius: 30px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  font-display: center;
}

.container {
  margin: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 2em;
  color: #000000;
}

.contact-info p {
  margin: 5px 0;
  font-size: 0.9em;
  text-align: center;
}

.contact-info a {
  color: #b3007a;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5em;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

section ul {
  list-style: square inside;
  margin: 10px 0 0 20px;
  padding: 0;
}

section ul li {
  margin: 5px 0;
}

.skills p,
.languages p {
  margin: 5px 0;
  font-size: 0.9em;
}

.languages p {
  display: center;
  justify-content: space-between;
}
